html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  font-family: Roboto;
  /* font-family: "Open Sans", sans-serif; */
}

* {
  box-sizing: border-box;
}

.header {
  height: 90px;
  background-color: #ffffff;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 88px;
  padding-top: 10px;
  width: 173px;
}

.container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  height: 89vh;
  width: 100%;
}

.iframe-container {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
}

.iframe-container > iframe {
  border: 0;
  width: 100%;
  flex: 1;
}

.controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  height: 80px;
  padding: 15px 0 0 15px;
  background-color: #f2f2f2;
  border-top: 1px solid #e7e7e7;
  overflow: scroll;
}

.controls > * {
  margin-right: 15px;
  margin-bottom: 15px;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  /* border-radius: 4px; */
  padding: 0 13px;
  font-family: Roboto;
  /* font-family: "Open Sans", sans-serif; */
  font-weight: bold;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
  outline: none;
  color: #000;
  background-color: rgba(255, 255, 255, 0);
  font-size: 22px;
  margin: 12px 10px 2px 2px;
  float: right;
}

button.disabled {
  cursor: default;
  pointer-events: none;
  color: #ccc;
  background-color: #e7e7e7;
  transition: background-color 0.25s ease;
}

.description {
  box-sizing: border-box;
  position: absolute;
  padding: 30px;
  top: 30px;
  right: 30px;
  width: 240px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border-radius: 3px;
  z-index: 2;

  opacity: 0;
  pointer-events: none;
}

.description.--active {
  opacity: 1;
  pointer-events: all;
}

.description iframe,
.description img {
  max-width: 100%;
  height: auto;
}

.hamburgerIcon {
  /*display: none;*/
  position: absolute;
  z-index: 1;
  cursor: pointer;
  margin-top: 37px;
  margin-left: 15px;
}

.hamburgerIcon img {
  /* -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;*/
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.hamburgerIcon img:hover {
  transform: scaleY(0.7) !important;
  /*-webkit-transform: rotate(90deg);
  transform: rotate(90deg);*/
}

.admin {
  float: right;
  margin-top: -61px;
  margin-right: 51px;
}
.admin img {
  height: 50px;
}

.share {
  float: right;
  margin-top: -69px;
  margin-right: 15px;
  cursor: pointer;
}
.share img {
  height: 50px;
}

.options {
  display: none;
  list-style: none;
  color: #ffffff;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  height: 89vh;
  width: 19rem;
  overflow: scroll;
}

.options::-webkit-scrollbar {
  display: none;
}

.options ul {
  margin: 0;
  padding: 0;
}

.options li {
  display: block;
  margin: 0;
  text-align: left;
  /* font-weight: bold; */
  text-transform: uppercase;
  border-top: 1px solid #707070;
  position: relative;
  font-family: 'Nunito Sans';
  font-size: 18px;
}

.options li.item-title {
  padding: 16px 5px 15px 16px;
  height: 50px;
  cursor: pointer;
}
.options li.hide-item-title {
  padding: 3px 5px 25px 16px;
  cursor: pointer;
  background-color: #55575a;
}

.item-icon {
  width: 22px;
  float: right;
  margin-right: 10px;
}

.options li.item-color-title {
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(0, 0, 0, 0.3) !important;
  padding: 16px 5px 15px 16px;
  height: 50px;
}

img.item-icon.item-x-icon {
  display: none;
}

.color-header-section {
  margin-bottom: 8px;
}

#hull {
  display: none;
}

#upholstery {
  display: none;
}

#engines {
  display: none;
}

.engine {
  color: #225a81;
  margin-bottom: 10px;
  cursor: pointer;
}

.item-title-1,
.item-title-2,
.item-title-3,
.item-title-4,
.item-title-5,
.item-title-7,
.item-title-8 {
  border-left: 10px solid rgba(255, 255, 255, 0.2);
}

.color-block-section {
  /* color: #2f2f2f; */
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
  padding: 16px 5px 15px 22px;
  height: 180px;
}

li.color-block-section.color-block-section-1,
li.color-block-section.color-block-section-2,
li.color-block-section.color-block-section-3,
li.color-block-section.color-block-section-4,
li.color-block-section.color-block-section-5,
li.color-block-section.color-block-section-6,
li.color-block-section.color-block-section-7,
li.color-block-section.color-block-section-8,
li.color-block-section.color-block-section-9,
li.color-block-section.color-block-section-12 {
  display: none;
}

.color-section-header {
  margin-bottom: 10px;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  width: 16rem;
  margin-bottom: 5px;
}

.no-floor-block {
  float: right;
  width: 50px;
  height: 50px;
  padding-top: 30px;
  border: 2px solid #a4373e;
  cursor: pointer;
  background-color: #f1f1f1;
}

.floor_slash {
  height: 51px;
  width: 66px;
  border-bottom: 2px solid #a4373e;
  -webkit-transform: translateY(-50px) translateX(7px) rotate(45deg);
  position: absolute;
}

.no-color-block {
  float: right;
  margin: -32px 22px 1px 1px;
  height: 30px;
  width: 33px;
  border: 2px solid #a4373e;
  cursor: pointer;
  background-color: #f1f1f1;
}

.slash {
  height: 31px;
  width: 41px;
  border-bottom: 2px solid #a4373e;
  -webkit-transform: translateY(-13px) translateX(4px) rotate(42deg);
  position: absolute;
}

.color-block {
  margin: 1px;
  height: 30px;
  width: 13%;
  border: 1px solid #707070;
  cursor: pointer;
}
/* COLORS */
.block-1 {
  /* HCB White */
  background-color: #cdcdcd;
  /* rgb(205, 205, 205) */
}
.block-2 {
  /* Viper Red */
  background-color: #a4373e;
  /* rgb(164, 55, 62) */
}
.block-3 {
  /* Navy */
  background-color: #39414c;
  /* rgb(57, 65, 76) */
}
.block-4 {
  /* Destroyer */
  background-color: #5e5e5e;
  /* rgb(94, 94, 94) */
}
.block-5 {
  /* Mediterranean Blue */
  background-color: #225a81;
  /* rgb(34, 90, 129) */
}
.block-6 {
  /* Admiral Blue */
  background-color: #4691c0;
  /* rgb(70, 145, 192) */
}
.block-7 {
  /* Sand */
  background-color: #bfb8aa;
  /* rgb(191, 184, 170) */
}
.block-8 {
  /* Bronze */
  background-color: #978270;
  /* rgb(151, 130, 112) */
}
.block-9 {
  /* Sky Blue */
  background-color: #65a4be;
  /* rgb(101, 164, 190) */
}
.block-10 {
  /* Jet Black */
  background-color: #393939;
  /* rgb(57, 57, 57) */
}
.block-11 {
  /* Steel Blue */
  background-color: #546f7e;
  /* rgb(84, 111, 126) */
}
.block-12 {
  /* Jet Stream Blue */
  background-color: #1381b0;
  /* rgb(19, 129, 176) */
}
.block-13 {
  /* Aqua Mist */
  background-color: #daf0eb;
  /* rgb(218, 240, 235) */
}
.block-14 {
  /* Bimini Blue */
  background-color: #67c7d9;
  /* rgb(103, 199, 217) */
}
.block-15 {
  /* Storm Gray */
  background-color: #8e8b83;
  /* rgb(142, 139, 131) */
}
.block-16 {
  /* San Mateo */
  background-color: #e3ceb5;
  /* rgb(227, 206, 181) */
}
.block-17 {
  /* Caribbean Blue */
  background-color: #87d3dc;
  /* rgb(135, 211, 220) */
}
.block-18 {
  /* needs to be color selector */
  background-image: linear-gradient(130deg, #87d3dc, #1381b0);
  padding-top: 30px;
}
.block-19 {
  background-image: url('https://scruffydev.org/boat/images/sahara.png');
  width: 50px;
  height: 50px;
  padding-top: 30px;
}
.block-20 {
  background-image: url('https://scruffydev.org/boat/images/deepTitanium.png');
  width: 50px;
  height: 50px;
  padding-top: 30px;
}
.block-21 {
  background-image: url('https://scruffydev.org/boat/images/naturalGray.png');
  width: 50px;
  height: 50px;
  padding-top: 30px;
}
.block-22 {
  background-image: url('https://scruffydev.org/boat/images/designerWhite.png');
  width: 50px;
  height: 50px;
  padding-top: 30px;
}
.block-23 {
  background-image: url('https://scruffydev.org/boat/images/platinum.png');
  width: 50px;
  height: 50px;
  padding-top: 30px;
}
.block-24 {
  background-image: url('https://scruffydev.org/boat/images/grayOnyx.png');
  width: 50px;
  height: 50px;
  padding-top: 30px;
}
.block-25 {
  background-image: url('https://scruffydev.org/boat/images/highGlossTeak.png');
  width: 50px;
  height: 50px;
  padding-top: 30px;
}
.block-26 {
  background-image: url('https://scruffydev.org/boat/images/rawTeak.png');
  width: 50px;
  height: 50px;
  padding-top: 30px;
}

span.custom {
  font-size: 10px;
  margin-left: -3px;
  font-weight: bold;
  color: #2f2f2f;
}

.popup-kelly-color-custom {
  position: absolute;
  display: none;
  background-color: rgb(225, 225, 225, 0.5);
  border: 1px solid rgb(191, 191, 191);
  box-shadow: rgba(0, 0, 0, 0.24) 7px 7px 14px -3px;
  border-radius: 4px;
  padding: 12px;
  box-sizing: content-box;
  left: 0px;
  bottom: 0px;
  border-radius: 110px;
  margin-left: 72px;
  margin-top: 67px;
}

/* Added Nov 17, 2021: */

.share {
  float: right;
  margin-top: -69px;
  margin-right: 15px;
  cursor: pointer;
}
.share-text {
  font-size: 20px;
  margin: 10px 10px 2px 2px;
  float: right;
  display: inline-flex;
  font-weight: 700;
}
.share img {
  height: 50px;
}

.desktop-header {
  /* display: none; */
}

.mobile-header {
  display: none;
}

.in-mobile-header {
  /* display: none; */
}

.in-mobile-icons {
  display: none;
}

.share-text {
  font-size: 20px;
  margin: 10px 10px 2px 2px;
  float: right;
  display: inline-flex;
  font-weight: 700;
}

.buy {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin-top: 10px; /* Location of the box */
  margin-right: 20px;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
}

.buy-this-boat {
  background-color: #f2e712;
  padding: 15px 27px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}

/* Mobile */

@media screen and (max-width: 600px) {
  body {
    background-color: #000;
  }
  /*
  .options li.hide-item-title {
    display: none;
  }
  */

  .options {
    top: 50%;
    width: 100%;
  }

  .options li {
    background-color: #000;
  }

  .header {
    display: none;
  }

  .mobile-header {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    margin-top: 0; /* Location of the box */
    margin-right: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: #fff;
  }

  .in-mobile-icons {
    display: none;
    height: 85px;
    width: 200%;
    margin-top: -84px;
    margin-right: -67%;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid transparent;
    cursor: pointer;
    outline: none;
    color: #000;
    background-color: #ffffff;
    font-size: 22px;
    float: right;
  }

  .in-mobile-header {
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid transparent;
    cursor: pointer;
    outline: none;
    color: #000;
    background-color: rgba(255, 255, 255, 0);
    font-size: 22px;
  }

  .share-btn {
    margin-top: -50px;
  }

  .desktop-header {
    display: none;
  }

  .buy-this-boat {
    margin: 25% 24% 0;
  }

  #api-frame {
    margin-top: -30%;
  }
  .flex-grid {
    width: 21rem;
  }
  .color-block {
    height: 33px;
  }
}
